.load-more {
  display: flex;
  justify-content: center;

  &__btn {
    padding: 16px;
    background-color: #ecbc2e;
    border: none;
    color: white;
    text-transform: uppercase;
    font-size: 16px;

    &:hover {
      background-color: #f6cc55;
    }
  }
}
