.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;

  &__filter {
    background-color: transparent;
    border: 1px solid #ecbc2e;
    padding: 16px;
    font-size: 16px;
    color: white;
    box-sizing: border-box;
  }

  &__filter-btn {
    background-color: #ecbc2e;
    border: 1px solid #ecbc2e;
    color: white;
    font-size: 16px;
    padding: 16px;
    cursor: pointer;

    &:hover {
      background-color: #f6cc55;
    }
  }

  &__checkbox {
    margin-right: 10px;
  }

  &__add {
    padding: 16px;
    border: 1px solid #ffffff;
    background-color: transparent;
  }

  &__add-link {
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    white-space: nowrap;

    &:hover {
      background-color: white;
      color: black;
    }
  }
}

@media screen and (max-width: 784px) {
  .menu {
    flex-direction: column;
    &>* {
      margin-bottom: 20px;
    }
  }
}
