<div>
  <h1>Elizaveta Ivashkova</h1>
  <p>Email: <a href="mailto:ivashkovaliza@gmail.com">ivashkovaliza@gmail.com</a></p>
  <p>Phone: <a href="tel: +375298519347">+375 29 851 93 47</a></p>
  <p>I'm front-end developer. I'm a quick learner and enjoy a good challenge.
    Moreover, I have an optimistic work attitude and do the work with diligence and responsibility.
    Also, I like to understand everything and ask a lot of questions.
    I don’t want to stand still.
    Therefore, I try to develop and learn something new.
    I'm currently participating in FrontCamp mentoring program. </p>
</div>
