<main class="content">
  <div class="log-in">
    <form class="log-in-form">
      <label for="username">Username</label>
      <input id="username" name="username" type="text" placeholder="Enter username" class="log-in-form__username"/>
      <label for="password">Password</label>
      <input id="password" name="password" type="password" placeholder="Enter password" class="log-in-form__password"/>
      <button type="button" class="log-in-form__btn" (click)="onClickLogInBtn()">Log in</button>
    </form>
  </div>
</main>
