<div class="add-edit">
  <form class="add-edit-form">
    <label for="heading">Heading</label>
    <input id="heading" name="heading" type="text" placeholder="Enter heading" class="add-edit-form__input"/>
    <label for="description">Short description</label>
    <input id="description" name="description" type="text" placeholder="Enter short description" class="add-edit-form__input"/>
    <label for="content">Content</label>
    <textarea id="content" name="content" placeholder="Enter content" class="add-edit-form__input add-edit-form__input--textarea"></textarea>
    <label for="image">Image</label>
    <input id="image" name="image" type="text" placeholder="Enter image URL" class="add-edit-form__input"/>
    <label for="date">Date</label>
    <input id="date" name="date" type="text" placeholder="Enter date" class="add-edit-form__input"/>
    <label for="author">Author</label>
    <input id="author" name="author" type="text" placeholder="Enter author" class="add-edit-form__input"/>
    <label for="source-url">Source URL</label>
    <input id="source-url" name="source url" type="text" placeholder="Enter source URL" class="add-edit-form__input"/>
    <div class="add-edit-form__btns">
      <button class="add-edit-form__btn">Save</button>
      <button class="add-edit-form__btn">Cancel</button>
    </div>
  </form>
</div>

