.nav-wrapper {
  position: relative;
  display: flex;
  margin-bottom: 20px;
}

.menu-btn {
  display: none;
  width: fit-content;
  font-size: 36px;
  color: inherit;
  background-color: transparent;
  border: none;
}

.dropbtn {
  position: relative;
  padding: 16px;
  color: white;
  background-color: #ecbc2e;
  font-size: 16px;
  text-align: center;
  border: none;
  cursor: pointer;
}

.dropdown {
  display: inline-block;

  &-content {
    position: absolute;
    left: 0;
    z-index: 2;
    display: none;
    width: 100%;
    max-height: 500px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    &__item {
      display: block;
      margin: 0;
      padding: 12px 16px;
      color: black;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        background-color: #f1f1f1
      }
    }
  }

  &:hover {
    .dropdown-content {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }

    .dropbtn {
      background-color: #f6cc55;

      &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        margin-right: -50%;
        transform: translate(-50%);
        z-index: 3;
        border: 10px solid transparent;
        border-bottom: 10px solid #f9f9f9;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .nav-wrapper {
    flex-direction: column;
    width: 100%;
  }

  .dropbtn {
    max-width: 100%;
    padding: 8px;
  }

  .menu-btn {
    display: block;
    width: fit-content;
  }
  .dropdown {
    display: none;
  }

  .dropdown-content__item {
    padding: 8px 16px;
  }

  .responsive {
    .dropdown {
      display: block;
    }
  }
}
