<nav class="nav-wrapper" id="topNav">
  <button class="menu-btn" (click)="manageMobileNavigation()">
    <i class="ion-android-menu"></i>
  </button>
  <div class="dropdown" *ngFor="let sourceFirstLetter of alphabetArr">
    <p class="dropbtn">{{sourceFirstLetter}}</p>
    <div class="dropdown-content" id="{{sourceFirstLetter}}-sources">
      <p class="dropdown-content__item" id="{{source.id}}" (click)="setSourceArticles(source.id)" *ngFor="let source of groupedSources[sourceFirstLetter]">
        {{source.name}}
      </p>
    </div>
  </div>
</nav>
